<div class="wrap">
  <div class="search">
     <input #input type="text" class="searchTerm" placeholder="What are you looking for?">
     <button class="searchButton" (click)="setData(input.value)">
       <i class="fa fa-search"></i>
    </button>
  </div>

  <ul class="pagination">
    <div class="radio-toolbar">
      <li>
        <input type="radio" id="radioApple" name="radioFruit" value="apple" checked>
        <label for="radioApple">Apple</label>
      </li>
      <li>
        <input type="radio" id="radioBanana" name="radioFruit" value="banana">
        <label for="radioBanana">Banana</label>
      </li>
      <li>
        <input type="radio" id="radioBanana" name="radioFruit" value="banana">
        <label for="radioBanana">Banana</label>
      </li>
      <li>
        <input type="radio" id="radioBanana" name="radioFruit" value="banana">
        <label for="radioBanana">Banana</label>
      </li>
    </div>


  </ul>

</div>



<!-- <div class="radio-toolbar">
  <input type="radio" id="radioApple" name="radioFruit" value="apple" checked>
  <label for="radioApple">Apple</label>

  <input type="radio" id="radioBanana" name="radioFruit" value="banana">
  <label for="radioBanana">Banana</label>

  <input type="radio" id="radioOrange" name="radioFruit" value="orange">
  <label for="radioOrange">Orange</label>
</div>
<p>&nbsp;</p> -->


